body{
    background-color:#adeda8;
    overflow-y: hidden;
}

#menuDiv{
    z-index: 1;
    background-color: #449140;
    height: 60px;
    position: fixed;
    top: 0;
    left:0;
    width:100%;
}
            
#buttonGroup{
    text-align: right;
    padding-top: 18px;
    padding-right: 40px;
}

button{
    background-color: #449140;
    color: white;
    font-size: 17px;
    border-radius: 4px;
}

#viewMore{
    position: relative;
    left: 180px;
}

#mainDiv{
    position: relative;
    top: 60px;
    height: 100%;
}

.postDiv{
    background-color:ghostwhite;
    height: 90%;
    width: 50%;
    position: relative;
    margin: 0 auto;
	overflow:auto;
}