body{
    background-color:#adeda8;
}

#menuDiv{
    z-index: 1;
    background-color: #449140;
    height: 60px;
    position: fixed;
    top: 0;
    left:0;
    width:100%;
}
            
#buttonGroup{
    text-align: right;
    padding-top: 18px;
    padding-right: 40px;
}

button{
    background-color: #449140;
    color: white;
    font-size: 17px;
    border-radius: 4px;
}

#mainDiv{
    position: relative;
    top: 60px;
    height: 90%;
}

#profilePic{
    position: relative;
    background-color: aqua;
    width: 250px;
    height: 250px;
    margin: auto;
    background-image: url("default_prof.jpg");
    background-size: 255px 250px;
    background-repeat: no-repeat;
}

#postsDiv{
    background-color:ghostwhite;
    width: 50%;
    position: relative;
    top: -150px;
    left: 30%;
}

#albumDiv{
    position: relative;
    top: 50px;
    height: 200px;
    width: 250px;
    background-color: red;
}

#details{
    text-align: center;
}

#viewPhotos{
    position: relative;
    top: 65px;
}

h2, p{
    text-align: center;
}
